<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="navbarController">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">i-nasu.com</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="link in navbar.links">
          <a ng-href="{{link.url}}">
            {{link.title}}
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right hidden-xs">
        <lx-dropdown>
          <button class="btn btn--m btn--blue btn--flat nav-btn" lx-ripple lx-dropdown-toggle>
              Portfolio
              <span class="caret"></span>
          </button>

          <lx-dropdown-menu>
              <ul>
                <li ng-repeat="portfolio in navbar.portfolios">
                  <a ng-href="{{portfolio.url}}">
                    {{portfolio.title}}
                  </a>
                </li>
              </ul>
          </lx-dropdown-menu>
        </lx-dropdown>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>