
@import "const";
@import "mixin";

.text-eye-catch {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: 'Josefin Sans';
}

@media (max-width: 767px) {

  .text-eye-catch {
    h1 {
      font-size: 2.5em;
      color: $textEyeCatchColor;
    }
    h3 {
      font-size: 1.5em;
      color: $textEyeCatchColor;
      margin-top: -10px;
    }
    > .btn {
      margin-bottom: 20px;
    }
  }

  .l-eye-catch {
    background: url(/images/index/home.jpg) no-repeat center center;
    display: table;
    width: 100%;
    height: 100vh;
    position: relative;

    margin-top: 50px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .l-middle-image {
    background: url(/images/index/middle01.jpg) no-repeat center center;
    display: table;
    width: 100%;
    height: $middleImageHeight;
    position: relative;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

}
@media (min-width: 768px) {

  .text-eye-catch h1,.text-eye-catch h3 {
    font-size: 4em;
    color: $textEyeCatchColor;
  }

  .l-eye-catch {
    background: url(/images/index/home.jpg) no-repeat center center fixed;
    display: table;
    height: 100vh;
    position: relative;
    width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  .l-middle-image {
    background: url(/images/index/middle01.jpg) no-repeat center center fixed;
    display: table;
    height: $middleImageHeight;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

}

/* Content styles
-------------------------------------------------- */

/* EyeCatch */
.ghost-button {
  display: inline-block;
  margin: 20px 0px;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: border-color 0.3s ease-out, color 0.3s ease-out;
  &:hover, &:active {
    color: #66d8ed;
    border-color: #66d8ed;
    transition: border-color 0.4s ease-in, color 0.4s ease-in;
  }
}

/* Result */
.results-box {
  margin: 20px 0px;
  padding: 20px 0px;
}

.results-box-thumnail {
  height: 250px;
  margin: 0px 30px;
  overflow: hidden;
  padding-left: 15px;
  visibility: hidden;
  .img {
    position: relative;
    z-index: 1;
    overflow: hidden;
    &:nth-child(n) {
      margin-right: 5px;
    }
    &:first-child {
      margin-left: -15px;
    }
    &:last-child {
      margin-right: 0;
    }
    img {
      display: block;
      margin: 0;
      padding: 0;
      height: auto;
      max-width: 115%;

    }
  }
}

.thumnail-caption {
  position:absolute;
  top: 0;
  left: -100%;
  background:rgba(66, 139, 202, 0.75);
  width:100%;
  height:100%;
  padding:2%;
  text-align:center;
  color:#fff !important;
  z-index:2;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  opacity: 0;
}

.img img {
  width: -webkit-calc(100% + 40px) !important;
  width: calc(100% + 40px) !important;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.5s;
  transition: opacity 0.35s, transform 0.5s;
  -moz-transition: opacity 0.35s, -moz-transform 0.5s;
  -o-transition: opacity 0.35s, -o-transform 0.5s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
  -ms-transform: translate3d(-40px, 0, 0);
}

.results-box-thumnail:hover {
  .thumnail-caption {
    left: 0%;
    opacity: 1;
  }
  .img img {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(-40px, 0, 0);
  }
}

.caption-table th {
  text-align: center;
}

/* MiddleImage */
.middle-image-text {
  margin:0 auto;
  padding-top:70px;
  color: #fff;
  visibility: hidden;
  p {
    margin: 10px 0px;
  }
}

/* Standings */
.l-standings {
  margin: 0px;
  padding: 100px 0px;
  @include gradient(#FFFFFF, #FAFAFA, vertical);
}


/* Products */
#products {
  background-color: #306d9f;
  color: #ffffff;
  padding-bottom: 20px;
}

.l-middle-image .panel {
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0.85;
}

h3 ,h2,.p-center{
  text-align: center;
}

.service > p{
  text-align: center;
}

.enimg{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:200px;
}

.section{
  margin-top: 50px;
  margin-bottom: 50px;
}

.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.video{
  margin-top: 50px;
}

.content-img{
  width:80%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}