.text-eye-catch {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: 'Josefin Sans'; }

@media (max-width: 767px) {
  .text-eye-catch h1 {
    font-size: 2.5em;
    color: #fff; }
  .text-eye-catch h3 {
    font-size: 1.5em;
    color: #fff;
    margin-top: -10px; }
  .text-eye-catch > .btn {
    margin-bottom: 20px; }
  .l-eye-catch {
    background: url(/images/index/home.jpg) no-repeat center center;
    display: table;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .l-middle-image {
    background: url(/images/index/middle01.jpg) no-repeat center center;
    display: table;
    width: 100%;
    height: auto;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

@media (min-width: 768px) {
  .text-eye-catch h1, .text-eye-catch h3 {
    font-size: 4em;
    color: #fff; }
  .l-eye-catch {
    background: url(/images/index/home.jpg) no-repeat center center fixed;
    display: table;
    height: 100vh;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .l-middle-image {
    background: url(/images/index/middle01.jpg) no-repeat center center fixed;
    display: table;
    height: 100vh;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

/* Content styles
-------------------------------------------------- */
/* Result */
.results-box {
  padding: 20px 0px; }

.results-box-thumnail {
  position: relative;
  overflow: hidden;
  visibility: hidden; }

.thumnail-caption {
  position: absolute;
  top: -100%;
  right: 0;
  background: rgba(66, 139, 202, 0.75);
  width: 100%;
  height: 100%;
  padding: 2%;
  text-align: center;
  color: #fff !important;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.results-box-thumnail:hover .thumnail-caption {
  top: 0%; }

.caption-table th {
  text-align: center; }

/* MiddleImage */
.middle-image-text {
  margin: 0 auto;
  padding-top: 70px;
  color: #fff;
  visibility: hidden; }
  .middle-image-text p {
    margin: 10px 0px; }

/* Products */
#products {
  background-color: #306d9f;
  color: #ffffff;
  padding-bottom: 20px; }

.l-middle-image .panel {
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0.85; }

h3, h2, .p-center {
  text-align: center; }

.service > p {
  text-align: center; }

.enimg {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px; }

.section {
  margin-top: 50px;
  margin-bottom: 50px; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; }

.video {
  margin-top: 50px; }

.content-img {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block; }
