@charset "UTF-8";
html, body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', "Helvetica Neue", Helvetica, Arial, sans-serif; }

section {
  margin: 200px 0px; }

footer {
  background-color: #242830;
  padding: 40px 0 30px; }
  footer a {
    color: #a1a9b0; }
  footer p {
    color: #fff; }

ul.legals {
  list-style: none;
  color: #fff;
  line-height: 25px; }
  ul.legals li {
    display: inline-block; }
    ul.legals li::after {
      content: " |"; }
    ul.legals li:last-child::after {
      content: ""; }

/* Bootstrap Navigation styles
-------------------------------------------------- */
.navbar-default .navbar-nav > .active {
  color: #000;
  background: #BBDDFF; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background: #BBDDFF; }

.dropdown-menu {
  display: block; }

.nav-btn {
  padding-top: 10px; }

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
  padding: 20px 0; }

.bounceInUp, .bounceInDown, .bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown, .fadeInUpBig, .zoomIn {
  visibility: visible; }

/*  Page to Top styles
-------------------------------------------------- */
#page-top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 16px;
  bottom: 16px; }
  #page-top p {
    margin: 0;
    padding: 0;
    text-align: center; }
